html,
body {
  min-width: 1122px;
  min-height: 1050px;
  margin:0;
  padding:0;
  font-size: 14px;
  line-height: normal;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  background-color: rgb(248,245,242);
}
 main h1 {
   margin-bottom: 21px;
  font-size: 30px;
  line-height: 42px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
}
.products h2 {
  font-size: 14px;
  line-height: 18px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*разметка сетки*/
.main-header{
  background-color: black;
  margin-bottom: 55px;
}
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.shop-logo {
  width: 140px;
  float: left;
  background-color: red;
}
.main-navigation {
  width: 620px;
  float: left;
  background-color: red;
}
.user-block {
  width: 140px;
  float: left;
  background-color: red;
}
.breadcrumbs {
  width: 940px;
  margin-bottom: 54px;
  background-color: green;
}
.gallery {
  width: 460px;
  margin-bottom: 48px;
  float: left;
}
.gallery .main-pic {
  width: 460px;
  margin-bottom: 20px;
}
.gallery .down-pics {
  width: 460px;
}
.gallery .down-pics img {
  float:left;
  margin-right: 20px;
}
.gallery .down-pics img:last-child {
  margin-right: 0;
}
.product-info {
  width: 400px;
  float: right;
}
.product-info .availability {
  padding-top: 23px;
  margin-bottom: 35px;
}
.product-info .availability .available {
  width: 170px;
  float: left;
  background-color: orange;
  margin-right: 60px;
}
.product-info .availability .vendor_code {
  width: 160px;
  float: right;
  background-color: orange;
}
.product-info .description {
  margin-bottom: 38px;
}
.product-info .price-item {
  margin-bottom: 66px;
}

.main-footer {
  background-color: black;
  color: white;
}
.main-footer .footer-contacts {
  width: 320px;
  float: left;
  margin-right: 60px;
  margin-top: 58px;
  margin-bottom: 39px;
}
.main-footer .footer-social {
  width: 180px;
  float: left;
  margin-top: 58px;
  margin-bottom: 39px;

}
.main-footer .footer-copyright {
  width: 160px;
  float: right;
  margin-top: 58px;
  margin-bottom: 39px;
}
